.upbody{
    top: 0px;
    left: 0px;
    
    background: transparent linear-gradient(180deg, #D5E6FF 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    }

    /* navbar button css  */
.navBt{
    background: transparent linear-gradient(79deg, #1A75FC 0%, #0D3B7E 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 33px;
    }
  
    /* contact us button css  */
.contactBtn{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #1A75FC;
    border-radius: 33px;
    color:#1A75FC ;
    }

    /* footer css  */
.footer{
    background: #0C1726 0% 0% no-repeat padding-box;
    }